html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-size: 6vmin !important;
}

h2 {
  font-size: 5vmin !important;
}

h3 {
  font-size: 4vmin !important;
}

h4 {
  font-size: 3vmin !important;
}

h5 {
  font-size: 2vmin !important;
}

h6 {
  font-size: 1vmin !important;
}

p {
  font-size: 1vmin !important;
}

.font-100 {
    font-weight: 100;
}

.font-200 {
    font-weight: 200;
}

.font-300 {
    font-weight: 300;
}

.font-400 {
    font-weight: 400;
}

.font-500 {
    font-weight: 500;
}

.font-600 {
    font-weight: 600;
}

.align-center {
  text-align: center;
}

.center-items {
  display: flex;
  justify-content: center;
}

.mx-auto {
  margin: 0 auto;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.color-main {
  color: #1890ff;
}

.color-main-bg {
  background: #1890ff;
}


.color1 {
  color: rgba(250, 243, 221, 1);  
}
.color2 {
  color: rgba(200, 213, 185, 1);  
}
.color3 {
  color: rgba(143, 192, 169, 1);  
}
.color4 {
  color: rgba(104, 176, 171, 1);  
}
.color5 {
  color: rgba(74, 124, 89, 1);  
}

.color1-bg {
  background: rgba(250, 243, 221, 1);  
}
.color2-bg {
  background: rgba(200, 213, 185, 1);  
}
.color3-bg {
  background: rgba(143, 192, 169, 1);  
}
.color4-bg {
  background: rgba(104, 176, 171, 1);  
}
.color5-bg {
  background: rgba(74, 124, 89, 1);  
}
